

<p class="show-title">
  <strong>Title:</strong> <%= @book.title %>
</p>

<p class="show-body">
  <strong>Body:</strong> <%= @book.body %>
</p>

<p class="show-edit">
  <%= link_to "Edit", edit_book_path, class:'Edit' %>
   | 
  <%= link_to "Back", '/books', class:'Back' %> 
</p>